<h1>Editing painting</h1>
<%= render "form", painting: @painting %>
<br>
<div>
  <%= link_to "Show this painting", @painting, class:'btn btn-outline-secondary' %> |
  <%= link_to "Back to paintings", paintings_path, class:'btn btn-outline-secondary' %>
</div>
